<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleag.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blog App</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">BlogApp</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/dashboard">Posts</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/blog"> New Posts</a></li>
					<li class="nav-item"><a class="nav-link" href="/seeComments">Comments</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="logout">Logout</a>
					</li>


				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<form action="#" 
			method="post">
			<div class="form-outline mb-4">
				<input type="text" id="form2Example11" class="form-control"
					placeholder="Search Titles Here" /> <label class="form-label"
					for="form2Example11"></label>
			</div>
			<div class="text-center pt-1 mb-5 pb-1">
				<input type="submit" value="Search"
					class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" />

			</div>



			<div class="container-fluid">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<td>Index</td>
							<td>Post Title</td>
							<td>Post Short Description</td>
							<td>Post Created On</td>
							<td>Actions</td>
						</tr>

					</thead>	
					<tbody>
						<tr th:each="b:${blogs}" >
							<td th:text="${b.blogId}"></td>
							<td th:text="${b.title}"></td>
							<td th:text="${b.shrtDscrptn}"></td>
							<td th:text="${b.createdDate}"></td>
							<td><a th:href="@{/edit?(blogId=${b.blogId})}"
								class="btn btn-info btn-sm"> Edit </a> <a
								th:href="@{/delete?(blogId=${b.blogId})}"
								class="btn btn-danger btn-sm"
								onclick="if(!(confirm('Are you sure you want to delete'))) return false">Delete
							</a></td>
						</tr>
					</tbody>

				</table>
			</div>

		</form>
	<p th:text="${msg}">
	</div>











	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>
</html>